@mixin fixed-position($x: center, $y: center) {
  $map: (
    x: (
      left: 0,
      right: 0,
      center: 50%
    ),
    y: (
      top: 0,
      bottom: 0,
      center: 50%
    )
  );

  position: fixed;

  #{if($x == right, right, left)}: map-find($map, 'x.#{$x}') or $x;
  #{if($y == bottom, bottom, top)}: map-find($map, 'y.#{$y}') or $y;

  @if $x == center or $y == center {
    @include translate(-to-number($x), -to-number($y));
  }

  @content;
}


// === Pivate (start with hyphen) ===
@function -to-number($s) {
  @return if($s == center, -50%, 0);
}
