@mixin fixed($x: center, $y: center) {
  $map: (
    x: (
      left: 0,
      right: 0,
      center: 50%
    ),
    y: (
      top: 0,
      bottom: 0,
      center: 50%
    )
  );

  position: fixed;
  #{if($x == right, right, left)}: map-get(map-get($map, x), $x) or $x;
  #{if($y == bottom, bottom, top)}: map-get(map-get($map, y), $y) or $y;

  @if $x == center or $y == center {
    @include translate(if($x == center, -50%, 0), if($y == center, -50%, 0));
  }

  @content;
}
