//======================
// Global Configuration
//======================

$font-family-base: 'Helvetica Neue', Helvetica, STHeiTi, sans-serif !default;

$font-size-base: 14px !default;

$line-height-base: 1.5 !default;

$text-color: #333 !default;

$link-colors: (
  normal: #428bca,
  hover: null  // defaults to `darken(normal, 15%)`
) !default;

$body-bg-color: null !default;

$input-placeholder-color: #999 !default;

$selection-colors: (
  text: null,  // defaults to `contrast-color(background)`
  background: null
) !default;

$pseudo-element-colon: unquote(if(support-legacy-browser(ie, 8), ':', '::'));
