//======================
// Global Configuration
//======================

$font-family-base: 'Helvetica Neue', Helvetica, STHeiTi, sans-serif !default;

$font-size-base: 14px !default;

$line-height-base: 1.5 !default;

$text-color: #333 !default;

// The order is normal-color, hover-color.
// hover-color defaults to darken(normal-color, 15%)
$link-colors: (#428bca) !default;

$body-bg-color: null !default;

$input-placeholder-color: #999 !default;

// The order is bg-color, text-color.
// text-color defaults to contrast-color(bg-color)
$selection-colors: () !default;
