// Floats
.clearfix {
  @extend %clearfix;
}
.float-left {
  @include float-left;
}
.float-right {
  @include float-right;
}

// Toggling content
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
