@import 'compass/css3';
// selection
@import 'compass/css3/selection';
// reset-font, reset-list-style, reset-table, reset-html5
@import 'compass/reset/utilities';
// float-left, float-right
@import 'compass/utilities/general/float';
// has-layout-zoom
@import 'compass/utilities/general/hacks';


// Adjust browser support. Defaults: ie7+ & modern browsers
@mixin support(
  $only-webkit: false,
  $legacy-ie: 7,
  $legacy-webkit: $legacy-support-for-webkit,
  $legacy-moz: $legacy-support-for-mozilla
) {
  $legacy-support-for-webkit: $legacy-webkit;
  $legacy-support-for-mozilla: $legacy-moz;

  @if $only-webkit {
    $legacy-support-for-ie: false;
    $legacy-support-for-mozilla: false;
    @include capture-and-set-support($webkit: true);
  }
  @else if index(6 7 8, $legacy-ie) {
    @include set-legacy-ie-support(
      $ie6: $legacy-ie == 6,
      $ie7: $legacy-ie <= 7,
      $ie8: $legacy-ie <= 8
    );
  }
  @else {
    $legacy-support-for-ie: false;
    @include set-legacy-ie-support;
  }
}

// Cross-browser support for inline-block display (overwrite Compass)
@mixin inline-block {
  display: inline-block;
  @if $legacy-support-for-ie7 {
    *display: inline;
    *zoom: 1;
  }
}

// Cross-browser support for @font-face (overwrite Compass)
@mixin font-face(
  $filename,
  $font-family: $filename,
  $dirname: $filename,
  $includes: eot woff ttf
) {
  $prefix: $dirname + '/' + $filename + '.';
  $src: ();

  @each $ext in $includes {
    $suffix: if($ext == 'eot', '?#iefix', '');
    $src: append($src, font-files(quote($prefix + $ext + $suffix)), comma);
  }

  @font-face {
    font-family: quote($font-family);

    // ie9 compat mode
    @if index($includes, 'eot') {
      src: font-url($prefix + 'eot');
    }
    src: $src;

    // other styles
    @content;
  }
}

// Short retina mixin for setting background-image and -size
@function -vendor($prefix: '') {
  @return unquote('only screen and (' + $prefix + 'min-device-pixel-ratio: 2)');
}
@mixin img-retina($img-1x, $img-2x, $bg-size: $default-background-size) {
  background-image: image-url($img-1x);

  $vendor: compact();
  @if $experimental-support-for-webkit {
    $vendor: append($vendor, -vendor(-webkit-min-));
  }
  @if $experimental-support-for-mozilla {
    $vendor: append($vendor, -vendor(min--moz-));
  }
  @if $experimental-support-for-opera {
    $vendor: append($vendor, -vendor(-o-min-));
  }
  $vendor: append($vendor, -vendor());

  @media #{$vendor},
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    background: {
      image: image-url($img-2x);
      size: unquote($bg-size);
    }
  }
}
