@import 'compass/css3';
// selection
@import 'compass/css3/selection';
// reset-font, reset-list-style, reset-table, reset-html5
@import 'compass/reset/utilities';
// float-left, float-right
@import 'compass/utilities/general/float';
// has-layout-zoom
@import 'compass/utilities/general/hacks';
// min-width, min-height
@import 'compass/utilities/general/min';


// Adjust browser support. Defaults: ie7+ & modern browsers
@mixin support($only-webkit: false, $legacy-ie: 7) {
  @if $only-webkit {
    $legacy-support-for-ie: false;
    $legacy-support-for-mozilla: false;
    @include capture-and-set-support($webkit: true);
  }
  @else if index(6 7 8, $legacy-ie) {
    @include set-legacy-ie-support(
      $ie6: $legacy-ie == 6,
      $ie7: $legacy-ie <= 7,
      $ie8: $legacy-ie <= 8
    );
  }
  @else {
    $legacy-support-for-ie: false;
    @include set-legacy-ie-support;
  }
}

// Sizing shortcuts
@mixin size($size...) {
  $size: if(length($size) > 0, $size, auto);
  $width: nth($size, 1);
  $height: nth($size, length($size));

  @if $width != auto and unitless($width) {
    $width: $width + px;
  }
  @if $height != auto and unitless($height) {
    $height: $height + px;
  }

  width: $width;
  height: $height;
}

// Cross-browser support for inline-block display (overwrite Compass)
@mixin inline-block {
  display: inline-block;
  @if $legacy-support-for-ie7 {
    *display: inline;
    *zoom: 1;
  }
}
