// Clear floats
%clearfix {
  &:before, &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }

  @include has-layout-zoom;
}

// Center-align a block level element
%center-block {
  @include center-block;
}

// Cross-browser support for inline-block display
%inline-block {
  @include inline-block;
}
