// Clear floats
%clearfix {
  &:before, &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }

  @include has-layout-zoom;
}

// Cross-browser support for inline-block display
%inline-block {
  @include inline-block;
}

// Make an element completely transparent.
%transparent {
  @include transparent;
}

// Make an element completely opaque.
%opaque {
  @include opaque;
}
