//================
// Flexible Reset
//================

* {
  margin: 0;
  padding: 0;

  @if index($supported-browsers, ios-safari) {
    -webkit-tap-highlight-color: transparent;
  }

  @if length($selection-colors) == 1 {
    @include selection(
      nth($selection-colors, 1)
    ) {
      text-shadow: none;
    }
  }
  @else if length($selection-colors) == 2 {
    @include selection(
      nth($selection-colors, 1),
      nth($selection-colors, 2)
    ) {
      text-shadow: none;
    }
  }
}

html {
  overflow-y: scroll;

  @if index($supported-browsers, ios-safari) {
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
  }
}

body {
  background-color: $body-bg-color;
  color: $text-color;
  font: $font-size-base + unquote('/') + $line-height-base $font-family-base;
}

a {
  color: nth($link-colors, 1);
  text-decoration: none;

  &:hover {
    color: if(length($link-colors) == 1,
             darken(nth($link-colors, 1), 15%),
               nth($link-colors, 2));
    text-decoration: underline;
  }
}

button, input, select, textarea {
  @include reset-font;
}

button {
  @if support-legacy-browser(ie, 7) {
    *overflow: visible;
  }
  @if support-prefix(-moz) {
    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }
  }
}

#{elements-of-type(text-input)} {
  @include input-placeholder {
    color: $input-placeholder-color;
  }
}

input[type=search] {
  @include appearance(textfield);
  @include box-sizing(content-box);

  @if support-prefix(-webkit) {
    &::-webkit-search-decoration {
      -webkit-appearance: none;
    }
  }
}

ol, ul {
  @include reset-list-style;
}

img {
  border: 0;
}

em {
  font-style: normal;
}

audio, canvas, video {
  @include inline-block;
}

sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}

table {
  @include reset-table;
}
th {
  text-align: inherit;
}

@if support-legacy-browser(ie, 6, 8) {
  @include reset-html5;
}
