// Brand colors (via Github)
$brand-red:             #bd2c00 !default;
$brand-blue:            #4183c4 !default;
$brand-green:           #6cc644 !default;
$brand-orange:          #f93 !default;

// Typography
$font-family-base:      'Hiragino Sans GB', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$font-size-base:        14px !default;
$line-height-base:      1.572 !default;

// Scaffolding
$body-bg-color:         #fff !default;
$text-color:            #333 !default;

// Links. (Order: normal, hover - defaults: darken(normal, 15%))
$link-colors:           $brand-blue !default;

// Placeholder
$placeholder-color:     #999 !default;

// Selection. (Order: background, text)
$selection-colors:      null !default;

// Form states and alerts. (Order: background, text, border)
$state-warning-colors:  #fcf8e3, #c09853, darken(adjust-hue(#fcf8e3, -10), 3%) !default;
$state-danger-colors:   #f2dede, #b94a48, darken(adjust-hue(#f2dede, -10), 3%) !default;
$state-success-colors:  #dff0d8, #468847, darken(adjust-hue(#dff0d8, -10), 5%) !default;
$state-info-colors:     #d9edf7, #3a87ad, darken(adjust-hue(#d9edf7, -10), 7%) !default;
