// Brand colors
$brand-success:     #5cb85c !default;
$brand-error:       #d9534f !default;
$brand-warn:        #f0ad4e !default;
$brand-info:        #5bc0de !default;

// Typography
$font-family-base:  'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$font-size-base:    14px !default;
$line-height-base:  1.572 !default;

// Scaffolding
$body-bg-color:     #fff !default;
$text-color:        #333 !default;

// Links. (Order: normal, hover - defaults: darken(normal, 15%))
$link-colors:       #428bca !default;

// Placeholder
$placeholder-color: #999 !default;

// Selection. (Order: text, background)
$selection-colors:  null !default;
