* {
  margin: 0;
  padding: 0;

  @if support-prefix(-webkit) {
    -webkit-tap-highlight-color: rgba(#fff, 0);
  }

  $selection-text-color: map-get($selection-colors, text);
  $selection-bg-color: map-get($selection-colors, background);

  @if $selection-text-color != null {
    @include selection($selection-bg-color, $selection-text-color) {
      text-shadow: none;
    }
  }
  @else if $selection-bg-color != null {
    @include selection($selection-bg-color) {
      text-shadow: none;
    }
  }
}

html {
  @if support-prefix(-webkit) {
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
  }

  @if index($supported-browsers, ie-mobile) {
    -ms-text-size-adjust: 100%;
  }
}

body {
  background-color: $body-bg-color;
  color: $text-color;
  font: unquote($font-size-base + '/' + $line-height-base) $font-family-base;
}

a {
  color: map-find($link-status, 'link.color');
  text-decoration: map-find($link-status, 'link.line');

  &:hover {
    color: map-find($link-status, 'hover.color')
           or
           darken(map-find($link-status, 'link.color'), 15%);
    text-decoration: map-find($link-status, 'hover.line');
  }
}

em {
  font-style: normal;
}

img {
  border: 0;
}

ol, ul {
  @include reset-list-style;
}

table {
  @include reset-table;
}
