button, input, textarea, select {
  @include reset-font;
}

button, input {
  @if support-prefix(-moz) {
    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }
  }
}

button, html input[type='button'], input[type='reset'], input[type='submit'] {
  cursor: pointer;

  @if index($supported-browsers, ios-safari) {
    -webkit-appearance: button;
  }

  @if support-legacy-browser(ie, 7) {
    *overflow: visible;
  }
}

#{elements-of-type(text-input)} {
  @include input-placeholder {
    color: $input-placeholder-color;
  }
}

input[type='search'] {
  @include appearance(textfield);
  @include box-sizing(content-box);

  @if support-prefix(-webkit) {
    &::-webkit-search-decoration {
      -webkit-appearance: none;
    }
  }
}
