@mixin clearfix {
  // Only register once
  @if not global-variable-exists(-clearfix-exists) {
    @at-root %clearfix {
      &#{$pseudo-element-colon}before,
      &#{$pseudo-element-colon}after {
        content: '\20';
        display: table;
      }

      &#{$pseudo-element-colon}after {
        clear: both;
      }

      @if support-legacy-browser(ie, 7) {
        *zoom: 1;
      }
    }

    // Mark
    $-clearfix-exists: true !global;
  }

  @extend %clearfix;
}
