@mixin ellipsis-overflow {
  // Only register once
  @if not global-variable-exists(-ellipsis-overflow-exists) {
    @at-root %ellipsis-overflow {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    // Mark
    $-ellipsis-overflow-exists: true !global;
  }

  @extend %ellipsis-overflow;
}
