// Override `compass/css3/font-face`
// Browsers support data: http://caniuse.com/fontface
@mixin font-face($filename, $font-family: $filename, $path: null) {
  @if not at-stylesheet-root() {
    @warn 'include font-face mixin from the root level of your stylesheet.';
  }

  $prefix: '#{$filename}';
  $ts: if(is-absolute($path), '?' + timestamp(), '');

  @if type-of($path) == string {
    @if str-slice($path, str-length($path)) != '/' {
      $path: $path + '/';
    }

    $prefix: $path + $prefix;
  }

  @font-face {
    font-family: '#{$font-family}';

    // IE9 compat mode
    @if support-legacy-browser(ie, 9) {
      src: font-url($prefix + '.eot' + $ts);
    }
    src: -combo-font-urls($prefix, $ts);

    @content;
  }
}

// Check whether the $path is start with either `/` or `http`.
@function is-absolute($path) {
  $path: '#{$path}';
  @return str-slice($path, 0, 1) == '/' or str-slice($path, 0, 4) == 'http';
}

@function timestamp() {
  @return current-time('%Y%m%d%H%M%S');
}


// === Pivate (start with hyphen) ===
@function -combo-font-urls($prefix, $timestamp) {
  $src: comma-list();

  @if support-legacy-browser(ie, 8) {
    $src: append($src, font-files($prefix + '.eot' + $timestamp + '#iefix'));
  }

  // Modern browsers
  $src: append($src, font-files($prefix + '.woff' + $timestamp));

  @if support-legacy-browser(ios-safari, '4.2-4.3') or
      support-legacy-browser(android, '4.2-4.3') or
      support-legacy-browser(safari, 5) or
      support-legacy-browser(opera, 11)
  {
    $src: append($src, font-files($prefix + '.ttf' + $timestamp));
  }

  @if support-legacy-browser(ios-safari, '4.0-4.1') or
      support-legacy-browser(android, 2.3) or
      index($supported-browsers, opera-mini)
  {
    $src: append($src, font-files($prefix + '.svg' + $timestamp + '#legacy'));
  }

  @return $src;
}
