// Short retina mixin for setting `background-image` and `background-size`.
@mixin img-retina($img-1x, $img-2x, $bg-size: $default-background-size) {
  background-image: image-url($img-1x);

  $vendor: comma-list();
  @include with-each-prefix(background-img-opts, $background-size-threshold) {
    @if $current-prefix == -webkit { $vendor: append($vendor, -vendor(-webkit-min, '2')); }
    @if $current-prefix == -moz    { $vendor: append($vendor, -vendor(min--moz, '2')); }
    @if $current-prefix == -o      { $vendor: append($vendor, -vendor(-o-min, '2/1')); }
    @if $current-prefix == null    { $vendor: append($vendor, -vendor(min, '2')); }
  }

  @media #{$vendor},
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    background: {
      image: image-url($img-2x);
      size: unquote($bg-size);
    }
  }
}


// === Pivate (start with hyphen) ===
@function -vendor($prefix, $ratio) {
  @return unquote('only screen and (#{$prefix}-device-pixel-ratio: #{$ratio})');
}
