$browser-supports: parse-rules('last 1 version') !default;

// Examples:
// support-browser(ios)
// support-browser(ie 8)
@function support-browser($args) {
  @if length($args) == 1 {
    @return map-has-key($browser-supports, to-lower-case($args));
  }
  @else {
    @return not not index(
      map-get($browser-supports, to-lower-case(nth($args, 1))),
      nth($args, 2)
    );
  }
}
