.form-item {
  @include clearfix;
  padding: 10px;

  .input {
    width: 33%;
    min-width: 200px;
    margin-right: 5px;
  }

  .btn[type='submit'] {
    font-size: round($font-size-base * 1.25);
  }

  .heading-label {
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
  }

  .linking-label {
    margin: {
      left: 5px;
      right: 5px;
    }
    vertical-align: middle;
    cursor: pointer;
  }

  .required#{$pseudo-element-colon}after {
    content: '*';
    margin-left: 5px;
    color: #d9534f;
  }
}
