@include test-module('Browsers helper') {

  @include test('browsers()') {
    $browsers: android, chrome, firefox, ie, ios, opera, safari;
    @include assert-equal(browsers(), $browsers,
      'All browsers should be supported');
  }

  @include test('browser-versions($browser, $include-future)') {
    $versions: 4,;
    @for $i from 5 through 37 {
      $versions: append($versions, $i);
    }
    @include assert-equal(browser-versions(chrome), $versions,
      "All versions of Chrome (include future) should from 4 through #{nth($versions, length($versions))}");
  }

  @include test('browser-versions($browser, $include-future)') {
    $versions: 4,;
    @for $i from 5 through 34 {
      $versions: append($versions, $i);
    }
    @include assert-equal(browser-versions(chrome, false), $versions,
      "All versions of Chrome (exclude future) should from 4 through #{nth($versions, length($versions))}");
  }

}
