@include test-module('Environment') {

  @include test('env($name)') {
    @include assert-equal(env(SASS_ENV), env(sass_env),
      'The `$name` should supports both uppercase letter and lowercase letter');
  }

  @include test('env($name)') {
    @include assert-equal(env(sass_env), env(sass-env),
      'The `$name` should supports both hyphen and underscore');
  }

  @include test('env($name)') {
    @include assert-equal(env(other), null,
      'If not found, should return `null`');
  }


  @include test('app-config($name)') {
    $app-config: (
      development: (
        foo: bar
      )
    ) !global;
    $output: map-get($app-config, env(sass-env), foo);
    @include assert-equal(app-config(foo), $output,
      "The value of `foo` in $app-config should be `#{inspect($output)}`");
  }

}
