@include test-module('Selector Helpers') {

  @include test('nest($selector1, $selector2, ...)') {
    @include assert-equal(nest('.foo, .bar', '.baz'), '.foo .baz, .bar .baz',
      'Something wrong with nested selectors');
  }

  @include test('append-selector($selector, $to-append)') {
    @include assert-equal(append-selector('p, div, span', '.bar'), 'p.bar, div.bar, span.bar',
      'Something wrong with nested selectors');
  }

  @include test('enumerate($prefix, $from, $through, [$separator])') {
    @include assert-equal(enumerate('.class', 2, 4), '.class-2, .class-3, .class-4',
      'Something wrong with enumerated selectors');
  }

  @include test('headings()') {
    $list: h1, h2, h3, h4, h5, h6;
    @include assert-equal(headings(), $list,
      'Something wrong with `headings()`');
  }

  @include test('headings()') {
    $list: h1, h2, h3, h4, h5, h6;

    @include assert-equal(headings(), $list,
      'Something wrong with `headings()`');
  }

  @include test('headings([$from], [$to])') {
    $list: h2, h3, h4, h5;

    @include assert-equal(headings(2, 5), $list,
      'Something wrong with `headings(2, 5)`');
  }

}
