.clearfix {
  @extend %clearfix;
}

.float-left {
  @include float(left, true);
}

.float-right {
  @include float(right, true);
}

%clearfix {
  &#{$pseudo-element-colon}before,
  &#{$pseudo-element-colon}after {
    content: ' ';
    display: table;
  }

  &#{$pseudo-element-colon}after {
    clear: both;
  }

  @if support-legacy-browser(ie, 7) {
    *zoom: 1;
  }
}
