@mixin float($side, $important: null) {
  $important: if($important, ' !important', '');
  $side: unquote($side) + $important;

  float: $side;
  @if support-browser(ie 6) {
    _display: inline + $important;
  }
}
