@mixin font-face($font-family, $paths...) {
  $ie9-url: null;

  @if support-browser(ie 9) {
    @each $path in $paths {
      @if str-index($path, '.eot') {
        $i: str-index($path, '#');
        $end: if($i, $i - 1, str-length($path));
        $ie9-url: nth(nth(url(str-slice($path, 1, $end)), 1), 1);
      }
    }
  }

  @font-face {
    font-family: $font-family;
    @content;
    src: $ie9-url;
    src: url($paths);
  }
}
