$anonymous-placeholders: ();

@mixin placeholder-wrapper($name) {
  $times: map-get($anonymous-placeholders, $name) or 0;

  @if $times == 0 {
    @at-root %-#{$name} {
      @content;
    }
  }

  @extend %-#{$name};
  $anonymous-placeholders: map-merge($anonymous-placeholders, ($name: $times + 1)) !global;
}
