$-registered-placeholders: ();

@mixin placeholder-wrapper($name) {
  $times: map-get($-registered-placeholders, $name) or 0;

  @if $times == 0 {
    @at-root %-#{$name} {
      @content;
    }
  }

  @extend %-#{$name};
  $-registered-placeholders: map-merge($-registered-placeholders, ($name: $times + 1)) !global;
}
